body {
    background-color: #242424;
    padding: 10px;
    border-radius: 12px;
}

div {
    align-items: center;
}

text {
    color:floralwhite;
}
textbig {
    font-size: 48px;
    color:floralwhite;
}

button {
    align-items: center;
}
