body {
    background-color: #242424;
    border-radius: 12px;
}
textbig {
    font-size: 48px;
    color:floralwhite;
}

button {
    padding: 5px;
    border-color: #616161;
    border-width: 1px;
    border-style: solid;
    border-radius: 12px;

    width: 400px;
}
